body {
	color: rgb(0, 44, 46);
	margin: 0;
	font-family: Arial, Arial, Helvetica, sans-serif;
	background-color: rgb(227, 235, 238);
}

div, span {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: rgb(0, 99, 179);
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.content {
    width: 100%;
    white-space: nowrap;
    display: table;
}

.component {
	vertical-align: top;
	padding: 13px;
	background-color: white;
	margin: 10px;
	border: 1px solid rgb(53, 95, 109);
}

.navigation, .problemArea {
	vertical-align: top;
	display: table-cell;
}

.navigation {
	width: 290px;
	white-space: normal;
}
.problemArea {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130px;
	text-align: center;
	margin: 10px 10px;
}

.problem {
	white-space: normal;
	min-height: 154;
}

.timeRemaining {
	font-size: 50px;
	text-align: center;
	font-family: sans-serif;
}

.expired {
	color: red;
}

#cnvTimer {
	margin: 30px auto;
	display: block;
}

.instructions {
	font-size: 18px;
	font-weight: normal;
	white-space: normal;
	text-align: left;
	padding: 50px;
	margin-left: 0;
	max-width: 834px;
}

.iHeard {
	font-family: sans-serif;
	font-size: 25px;
	background-color: white;
	margin-left: 0;
	padding: 20px 0;
	border: 1px solid rgb(53, 95, 109);
}

.iHeardLabel {
	width: 48%;
	text-align: right;
	display: inline-block;
}

#iHeardText {
	width: 50%;
	display: inline-block;
	text-align: left;
	font-style: italic;
	padding-left: 20px;
	color: rgb(99, 104, 111);
	font-weight: normal;
	font-size: 22px;
}

.card {
	background-color: white;
	margin: 10px 10px 0 0;
	border: 1px solid rgb(53, 95, 109);
}

.warnings {
	border-bottom: 3px solid rgb(134, 150, 155);
	border-top: 2px solid rgb(38, 126, 155);
	width: 100%;
	text-align: center;
	font-family: Arial, Arial, Helvetica, sans-serif;
	color: rgb(226, 226, 226);
	background-color: rgb(0, 37, 49);
	padding: 10px;
	font-size: 17px;
}

.footer {
	text-align: center;
	font-size: 15px;
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-weight: normal;
	width: 100%;
	margin-top: 25px;
}

.footer > a {
	padding-left: 8px;
	padding-right: 8px;
}

.footer > div {
	padding-bottom: 7px;
}

.controls {
	text-align: center;
	margin-top: 30px;
}

.startButton {
	border: 2px solid rgb(0, 30, 41);
	border-radius: 9px;
	font-size: 27px;
	padding: 10px;
	cursor: pointer;
	color: white;
	text-shadow: 2px 2px 2px rgb(3, 70, 0);
	background: rgb(0, 99, 136);
}

.problemSetList {
	list-style-type: none;
	padding: 13px 13px 13px 7px;
	margin-top: 4px;
}

.problemSet {
	padding: 7px 10px 7px 10px;
}

.problemSet:hover {
	background-color: rgb(221, 221, 221);
	cursor: pointer;
	outline: 1px solid rgb(115, 126, 129);
}

.selected {
	font-weight: bold;
	color: black;
}

.scores {
	margin-left: 0;
	background-color: inherit;
	border: 0;
}

.currentScore, .highScore {
	margin: 0 92px;
	font-weight: bold;
	font-size: 25px;
}

.highlight {
	color: #00BE00;
}

.highScore {
	text-align: right;
}

.skipHint {
	text-align: center;
	font-size: 15px;
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
	width: 100%;
	margin-top: 20px;
}

.addMoreSection {
	padding-left: 17px;
}